.et-content {
    width: 100%;
    margin: 0 auto $content-spacing-outer;
    &:last-child {
        margin: 0 auto;
    }

    &.banner {
        background-size: cover;
        background: $background-gradient;
        color: $color-background;
    }

    .et-row {
        width: 100%;
        max-width: $wrapper-width-max;
        margin: 0 auto $content-spacing-inner;
        display: flex;
        flex-direction: column;
        &:last-child {
            margin: 0 auto;
        }
        @include tablet-and-up {
            flex-direction: row;
        }
        
        .et-column {
            flex-basis: 0;
            flex-grow: 1;
            margin: 0 $content-spacing-inner $content-spacing-inner;
            &:last-child {
                margin: 0 $content-spacing-inner;
            }

            img {
                width: 75%;
                margin: 0 auto;
            }
        }
    }

    .et-center {
        width: 100%;
        max-width: $wrapper-width-max;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        justify-content: center;        
        align-items: center;
        
        margin: 0 auto $content-spacing-inner;
        &:last-child {
            margin: 0 auto;
        }
    }
} 

.fill-screen {
    min-height: 100vh;
}

.center-text {
    text-align: center;
}

/*
.et-block {
    margin: $size-4 auto 0;
    width: 100%;
    max-width: $max-width; 

    .et-row {
        width: 100%;
        margin: 0 auto $size-2;
        
        display: flex;
        flex-direction: column;
        
        @include tablet { 
            flex-direction: row;
            margin: 0 auto $size-huge; 
        }
        
        &:last-child {
            margin-bottom: 0;
        }

        .et-card {
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
            margin: 0 $size-1 $size-2; 
            
            div, a, button, p, h1, h2, h3, h4, h5, h6 {
                margin-bottom: $size-1;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.center {
                text-align: center;
            }

            &.image {
                background-color: $color-brand;
                background-size: cover;

                min-height: $size-4;
            }

            @include tablet {
                margin: 0 0 0 $size-large;
                text-align: left;

                &:last-child {
                    margin: 0 $size-large;
                }
            }
        }
    }
}
*/