.et-content {
    width: 100%;
    margin: 0 auto;
    padding: $content-spacing-outer 0;

    &.banner {
        background-size: cover;
        background: $background-gradient;
        color: $color-background;
    }

    .et-row {
        width: 100%;
        max-width: $wrapper-width-max;
        margin: 0 auto $content-spacing-inner;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:last-child {
            margin: 0 auto;
        }
        @include tablet-and-up {
            flex-direction: row;
        }
        
        .et-column {
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
            margin: 0 0 $content-spacing-inner;
            &:last-child {
                margin: 0;
            }
            @include tablet-and-up {
                margin: 0 $content-spacing-inner 0 0;
            }

        }

        &.cards {
            flex-direction: row;
            flex-wrap: wrap;
            .et-card {
                width: $card-width-default;
                text-align: center;
                border: 1px solid blue;
                margin: 0 $content-spacing-inner/2 $content-spacing-inner;
                &.small {
                    width: $card-width-small;
                }
                &.large {
                    width: $card-width-large;
                }
            }
        }

        &.list {
            flex-direction: row;
            .et-field {
                flex-basis: 0;
                flex-grow: 1;
                overflow: hidden;
                width: 100%;
                margin: 0 0 0 $content-spacing-inner;
                &:last-child {
                    margin: 0 $content-spacing-inner;
                }    
            }
        }
    }

    .et-image {
        width: 100%;
        height: $image-height-default;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    
        &.small {
            height: $image-height-small;
        }
        &.large {
            height: $image-height-large;
        }
        &.cover {
            background-size: cover;
        }
    }
} 

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.et-header {
    @extend .et-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.et-footer {
    @extend .et-content;
    padding-top: 0;
    .et-row:first-child {
        padding-top: $content-spacing-outer;
        border-top: 1px solid $color-secondary;
    }
}

/*
.et-block {
    margin: $size-4 auto 0;
    width: 100%;
    max-width: $max-width; 

    .et-row {
        width: 100%;
        margin: 0 auto $size-2;
        
        display: flex;
        flex-direction: column;
        
        @include tablet { 
            flex-direction: row;
            margin: 0 auto $size-huge; 
        }
        
        &:last-child {
            margin-bottom: 0;
        }

        .et-card {
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
            margin: 0 $size-1 $size-2; 
            
            div, a, button, p, h1, h2, h3, h4, h5, h6 {
                margin-bottom: $size-1;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.center {
                text-align: center;
            }

            &.image {
                background-color: $color-brand;
                background-size: cover;

                min-height: $size-4;
            }

            @include tablet {
                margin: 0 0 0 $size-large;
                text-align: left;

                &:last-child {
                    margin: 0 $size-large;
                }
            }
        }
    }
}
*/