* {
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    min-width: 320px;

    font-family: $font-family;
    font-size: $bodytype-size;
    font-weight: $bodytype-weight;
    color: $bodytype-color;

    background-color: $color-background;
}

