.et-title {
    display: block;
    font-size: $title-m-size;
    font-weight: $title-m-weight;

    &.small {
        font-size: $title-s-size;
        font-weight: $title-s-weight;
    }

    &.large {
        font-size: $title-l-size;
        font-weight: $title-l-weight;
    }

    &.weak {
        font-weight: $font-weight-default;
    }
}